        body {
            font-family: sans-serif;
            max-width: 600px;
            margin: 20px auto;
        }

        .activity {
            border-bottom: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .controls {
            display: flex;
            align-items: center;
        }

        .controls button {
            font-size: 1.5em;
            font-weight: bold;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 5px;
        }

        .quantity {
            font-size: 1.2em;
            margin: 0 10px;
            width: 30px;
            text-align: center;
        }

        h3 {
            margin: 0;
        }

        #totalPrice {
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 20px;
            text-align: right;
        }