@font-face {
    font-family: "KanitLight";
    src: url("/fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;    
}

body{
    font-family: "KanitLight", Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
}
h1 {
    color: hsl(0, 79%, 28%);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 200px;
    height: auto;
}   
.login-div {
    padding: 15px;
    display: inline-block;

}
.login-div input{
    display: block;
    margin-bottom: 27px;
    
}

button {
    background-color: hsl(0, 79%, 28%);
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 20px;
}
button:hover {
    background-color: hsl(0, 79%, 38%);

}
form {
    text-align: center;
}
fieldset {
    border: 2px solid hsl(0, 79%, 28%);
    border-radius: 12px;
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

}